.Start_Networking_Wrapper {
    background-color: #13544E;
    color: white;
    padding: 30px 55px;
    border-radius: 6px;
    margin-top: 30px !important;
}

.start_netwrk_btn {
    color: white;
    background-color: #14A800;
    border-color: transparent;
    line-height: 1;
    border-radius: 10rem;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

.network_logo {
    width: 145px;
    height: 130px;
}

.txt_p {
    font-size: 14.5px;
}

.ProfileCard_Wrapper {
    margin-top: 30px !important;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    background-color: white;
}

.profile-title {
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.profile_logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.progress_Wrapper {
    background-color: #E4EBE4;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    padding: 20px 30px;
}

.progress {
    height: 5px !important;
    width: 80%;
    border-radius: 0px !important;

}

.bgSuccess {
    background-color: #95DF00 !important;
}

.font_md {
    font-weight: 500;
}

.font_color {
    color: #14A800;
}

.base_Padding {
    padding: 20px 30px;
}

.base_border {
    border-bottom: 1px solid #e0e0e0;
}

.pen_icon {
    color: #656565;
    margin: 0px 8px;
}

.cir {
    height: 32px;
    width: 32px;
    margin: 0px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
}

.pt {
    padding-top: 20px;
}

.h4_font_16 {
    font-size: 18px;
    /* color: #656565; */
}

.pad_left {
    padding-left: 30px;
}

.mr_left {
    margin-left: 20px;
}

.minus_mrgn {
    margin: 0px -14px;
}

.base_Font_size {
    font-size: 15px;
    color: #222;
}

.base_Font_size_Xs {
    font-size: 13px;
    color: #656565;
    margin-bottom: 8px !important;
}

.Skill_Badge {
    height: 25px;
    color: #656565;
    background-color: #f2f2f2;
    display: inline-flex;
    align-items: center;
    border: none;
    margin: 0 5px 10px 0;
    padding: 0 10px;
    border-radius: 12px;
    font-size: 13px;
    line-height: 1;
    cursor: default;
    font-weight: 500;
}
.jobItemsHeaderWrapper{
    display: flex;
    justify-content: space-between;
}
.Hlcir {
    height: 38px;
    width: 38px;
    margin: 0px 5px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
}
.hend_icon{
    margin: 10px 10px;
    
}