.App-logo {
  height: 21px;
  pointer-events: none;
  padding: 0px 20px;
  cursor: pointer;
}

.nav_bg {
  background-color: #1D4354;
  height: 70px;
}

.navbar-nav .navItems {
  color: white;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #85DF2B;
}
.frm_cntrl{
width: 100%;
padding: 0.375rem 0.75rem;
font-size: 15px;
color: white !important;
background-color: #2B5468 !important;
border: none !important;
appearance: none;
border-radius: 50px !important;
margin: 0px 30px;
}
.navbar-nav {
  margin: 0px 55px;
}
.help_logo{
color: white;
height: 25px;
cursor: pointer;
padding: 0px 12px;
}
.samia_logo{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}